<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход</title>
  <style>
        /* Стили из задания */
        body {
          font-family: "Comic Sans MS";
          background-color: #FFFFFF;
        }
        .accent-btn {
          background-color: #546F94;
          cursor: pointer;
        }
    </style>
</head>
<body>
  <img src="/static/icon.png" height="100">
  <h1>ООО "ЧитайГород"</h1>
  <!-- Если в views.py мы передали ошибку (неверный пароль), она покажется тут -->
   <p style="color: red;"> {{ error }} </p>
   <!-- Форма отправляет данные (POST) в ту же функцию, где мы сейчас находимся -->
    <form method="post">
      {% csrf_token %} <!-- Защитный токен Джанго, без него форма не отправится -->
      <p><input type="text" name="login" placeholder="Почта" required></p>
      <p><input type = "password" name="passwrod" placeholder="Пароль" required></p>

      <p><button type="submit" class="accent-btn">Войти</button></p>
      <!-- Кнопка "Войти как гость" передает параметр guest -->
       <p><button type="submit" name="quest" value="1" formnovalidate>Войти как гость</button></p>
       <!-- Для почты и пароля надо бы поставить required, но если сделать это, то не получится войти как гостю. Решения 2:-->
        <!-- 1 - Не добавлять required. 2 - указать кнопке входа в качестве гостя formnovalidate -->
    </form>
</body>
</html>