<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход</title>
  <style>
        /* Стили из задания */
        body {
          font-family: "Comic Sans MS";
          background-color: #FFFFFF;
        }
        .accent-btn {
          background-color: #546F94;
          color: white;
          cursor: pointer;
        }
    </style>
</head>
<body>
  <img src="/static/icon.png" height="100">
  <h1>ООО "ЧитайГород"</h1> <!-- Можно оставить, раз просили игнорировать обувь -->
  
  <!-- Если в views.py мы передали ошибку, она покажется тут -->
  <p style="color: red;"> {{ error }} </p>
  
  <form method="post">
      {% csrf_token %}
      <p><input type="text" name="login" placeholder="Почта" required></p>
      <!-- ИСПРАВЛЕНА ОПЕЧАТКА: passwrod -> password -->
      <p><input type="password" name="password" placeholder="Пароль" required></p>

      <p><button type="submit" class="accent-btn">Войти</button></p>
      <!-- ИСПРАВЛЕНА ОПЕЧАТКА: quest -> guest -->
      <p><button type="submit" name="guest" value="1" formnovalidate>Войти как гость</button></p>
  </form>
</body>
</html>